<div class="container">
  <div
    class="row d-flex justify-content-center align-items-center"
    style="margin-top: 100px"
  >
    <div class="col-md-8">
      <form id="searchForm" action="/search" method="GET">
        <div class="search">
          <i class="fa fa-search"></i>
          <input
            id="searchInput"
            type="text"
            name="title"
            class="form-control"
            placeholder="Searching for information"
          />
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </form>
    </div>
    <div class="d-flex justify-content-center align-items-center" style="margin-top: 30px">
        <form action="/" method="GET">
            <button type="submit" class="btn btn-success">Refresh</button>
        </form>
    </div>
  </div>
</div>

<div class="container py-5">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <!-- List group-->
      <ul class="list-group shadow">
        <!-- list group item-->
        {{#unless data}}
        <div class="d-flex justify-content-center align-items-center">
            <h1>Không có sản phẩm</h1>
        </div>
        {{/unless}}
        {{#each data}}
          <li class="list-group-item">
            <!-- Custom content-->
            <div
              class="d-flex media align-items-lg-center flex-column-reverse flex-lg-row justify-content-around p-3"
            >
              <img
                src="{{this.webp_image}}"
                alt="Generic placeholder image"
                width="200"
                class="ml-lg-5 order-1 order-lg-2"
              />
              <div class="media-body order-2 order-lg-1">
                <h5 class="mt-0 font-weight-bold mb-2">{{this.title}}</h5>
                <p class="font-italic text-muted mb-0 small">{{this.account_name}}</p>
                <div
                  class="d-flex align-items-center justify-content-between mt-1"
                >
                  <h7 class="font-weight-bold my-2">{{this.area_name}}, {{this.region_name}}</h7>
                  <h6 class="font-weight-bold my-2">{{this.price_string}}</h6>
                </div>
              </div>
            </div>
            <!-- End -->
          </li>
        {{/each}}
        <!-- End -->
      </ul>
      <!-- End -->
    </div>
  </div>
</div>